language: php
php:
  - 5.6

mysql:
  database: drupal
  username: root
  encoding: utf8

before_install:
  - composer self-update
  - export BASEDIR=${PWD}

install:
  - phpenv rehash
  - composer install

  # Install latest Drush 7.
  - export PATH="$HOME/.composer/vendor/bin:$PATH"
  - composer config -g github-oauth.github.com 0784033b344a0ea024d9ee324218b3c2eb0da985
  - composer global require --no-interaction --prefer-dist drush/drush:7.*
  - drush cc drush

before_script:
  - echo "sendmail_path='true'" >> `php --ini | grep "Loaded Configuration" | awk '{print $4}'`
  - cd htdocs
  - drush si -y standard --db-url=mysql://root:@localhost/drupal --account-name=admin --account-pass=admin --site-name="Poc TravisCI Behat"

  # Start Web server
  - drush runserver 8888 > /dev/null 2>&1 &
  - until ss -l 2>/dev/null | grep 'LISTEN.*8888'; do true; done

script:
  - $BASEDIR/vendor/bin/behat
