language: php
php:
  - 5.6

mysql:
  database: drupal
  username: root
  encoding: utf8

before_install:
  - composer self-update
  - export BASEDIR=${PWD}

install:
  - phpenv rehash
  - composer install

  # Install latest Drush 7.
  - export PATH="$HOME/.composer/vendor/bin:$PATH"
  - composer config -g github-oauth.github.com 0784033b344a0ea024d9ee324218b3c2eb0da985
  - composer global require --no-interaction --prefer-dist drush/drush:7.*
  - drush cc drush

before_script:
  - echo "sendmail_path='true'" >> `php --ini | grep "Loaded Configuration" | awk '{print $4}'`
  - ./bin/install_drupal_travis.sh
  - cd htdocs
  - $BASEDIR/vendor/bin/drush runserver --server=builtin 8080 --strict=0 &
  - cd ..
  - until netstat -an 2>/dev/null | grep '8080.*LISTEN'; do sleep 0.2; done

script:
  - $BASEDIR/vendor/bin/behat
